@using PhygitalTool.Domain.Util
@model PhygitalTool.Domain.FlowPackage.Question


<div class="container-question-view">
    <div class="row">
        <div class="sidebar-container col-md-2 p-4">
            <img src="https://via.placeholder.com/150" alt="Placeholder afbeelding" class="qr-code">
            <h3 class="pt-3">Interesting??</h3>
            <p>Laat hier je gegevens achter.</p>
            @{
                var scheme = Context.Request.Scheme;
                var host = Context.Request.Host.ToString();
                var actionPath = Url.Action("Index", "ContactInformation", new { id = Model.FlowId });

                var fullUrl = $"{scheme}://{host}{actionPath}";
            }

            <img class="qr-code pt-3" src="@Url.Action("Generate", "QrCode", new { data = fullUrl })" alt="QR Code" style="width:500px; height:500px;"/>
        </div>
        <div class="questionContainer col-md-10 p-4">

            <h1>@Model.QuestionText</h1>

            @if (Model.QuestionType == QuestionType.SingleChoice && Model.Flow.FlowType == FlowType.Linear)
            {
                <p>Duid één antwoord aan</p>

                <form method="post" action="/Question/SaveAnswerAndUserInput">
                    <div class="row">
                        <div class="col-md-6 left-column p-3">
                            @{
                                int counter = 0;
                                int buttonId = 1;
                                foreach (var answerPossibility in Model.AnswerPossibilities.Skip(Model.AnswerPossibilities.Count() / 2))
                                {
                                    <button class="btn-answer col-12 m-2 p-4" type="submit" id="button-@buttonId" name="selectedAnswer" value="@answerPossibility.Description">
                                        <i class="@(counter % 3 == 0 ? "bi bi-circle-fill" : counter % 3 == 1 ? "bi bi-square-fill" : "bi bi-triangle-fill")"></i>
                                        @answerPossibility.Description
                                    </button>
                                    counter++;
                                    buttonId += 2;
                                }
                            }
                        </div>
                        <div class="col-md-6 right-column p-3">
                            @{
                                int counter2 = 0;
                                int buttonId2 = 2;
                                foreach (var answerPossibility in Model.AnswerPossibilities.Take(Model.AnswerPossibilities.Count() / 2))
                                {
                                    <button class="btn-answer col-12 m-2 p-4" type="submit" id="button-@buttonId2" name="selectedAnswer" value="@answerPossibility.Description">
                                        <i class="@(counter2 % 3 == 0 ? "bi bi-star-fill" : counter2 % 3 == 1 ? "bi bi-heart-fill" : "bi bi-diamond-fill")"></i>
                                        @answerPossibility.Description
                                    </button>
                                    counter2++;
                                    buttonId2 += 2;
                                }
                            }
                        </div>
                    </div>

                    <input type="hidden" name="currentFlow" value="@Model.FlowId"/>
                    <input type="hidden" name="currentQuestion" value="@Model.QuestionId"/>
                    <input type="hidden" name="subThemeId" value="@Model.Flow.SubThemeId"/>
                </form>
            }

            @if (Model.QuestionType == QuestionType.Open)
            {
                <form method="post" action="/Question/SaveAnswerAndUserInput"onsubmit="return validateForm()">
                    <textarea type="text" class="form-control" id="selectedAnswer" name="selectedAnswer" placeholder="Typ hier je antwoord"></textarea>
                    <button type="submit" class="btn btn-primary submit-button mt-3" id="Submit">Submit</button>
                    <input type="hidden" name="currentFlow" value="@Model.FlowId"/>
                    <input type="hidden" name="currentQuestion" value="@Model.QuestionId"/>
                    <input type="hidden" name="subThemeId" value="@Model.Flow.SubThemeId"/>

                </form>
            }
            @if (Model.QuestionType == QuestionType.Range)
            {
                <p>Kies 1 van de opties</p>

                <div class="slider-container">
                    <input type="range" min="0" max="4" value="2" step="1" class="slider" id="myRange">
                    <div class="slider-labels">
                        @foreach (var answerPossibility in Model.AnswerPossibilities)
                        {
                            <span class="answer-range m-2 p-4">@answerPossibility.Description</span>
                        }
                    </div>
                    <p class="pt-4">Gekozen: <span id="sliderValue">Ik weet het nog niet</span></p>
                    <form id="answersForm" method="post" action="/Question/SaveAnswerAndUserInput">
                        <!-- Knop om het formulier in te dienen -->
                        <button type="button" class="btn btn-primary submit-button" id="submitButton">Klaar</button>
                        <input type="hidden" name="currentFlow" value="@Model.FlowId"/>
                        <input type="hidden" name="currentQuestion" value="@Model.QuestionId"/>
                        <input type="hidden" name="subThemeId" value="@Model.Flow.SubThemeId"/>
                    </form>
                </div>
            }
            @if (Model.QuestionType == QuestionType.MultipleChoice)
            {
                <p>Duid 1 of meerdere antwoorden aan</p>
                <div class="row">
                    <div class="col-md-6 left-column p-3">
                        @{
                            int counter = 0;
                            int buttonId = 1;
                            foreach (var answerPossibility in Model.AnswerPossibilities.Skip(Model.AnswerPossibilities.Count() / 2))
                            {
                                <button class="answerButton btn-answer col-12 m-2 p-4" id="button-@buttonId" value="@answerPossibility.Description">
                                    <i class="@(counter % 3 == 0 ? "bi bi-circle-fill" : counter % 3 == 1 ? "bi bi-square-fill" : "bi bi-triangle-fill")"></i>
                                    @answerPossibility.Description
                                </button>
                                counter++;
                                buttonId += 2;
                            }
                        }
                    </div>
                    <div class="col-md-6 right-column p-3">
                        @{
                            int counter2 = 0;
                            int buttonId2 = 2;
                            foreach (var answerPossibility in Model.AnswerPossibilities.Take(Model.AnswerPossibilities.Count() / 2))
                            {
                                <button class="answerButton btn-answer col-12 m-2 p-4" id="button-@buttonId2" value="@answerPossibility.Description">
                                    <i class="@(counter2 % 3 == 0 ? "bi bi-star-fill" : counter2 % 3 == 1 ? "bi bi-heart-fill" : "bi bi-diamond-fill")"></i>
                                    @answerPossibility.Description
                                </button>
                                counter2++;
                                buttonId2 += 2;
                            }
                        }
                    </div>
                    <form id="answersForm" method="post" action="/Question/SaveAnswersAndUserInput">
                        <button type="button" class="btn btn-primary submit-button" id="submitButton">Klaar</button>
                        <input type="hidden" name="currentFlow" value="@Model.FlowId"/>
                        <input type="hidden" name="currentQuestion" value="@Model.QuestionId"/>
                        <input type="hidden" name="subThemeId" value="@Model.Flow.SubThemeId"/>
                    </form>
                </div>
            }
            @if (Model.QuestionType == QuestionType.SingleChoice && Model.Flow.FlowType == FlowType.Circular)
            {
                <p>Duid 1 antwoord aan</p>
                @foreach (var answerPossibility in Model.AnswerPossibilities)
                {
                    <button class="unselected answerButtonCircular" value="@answerPossibility.Description">@answerPossibility.Description</button>
                }

                <form id="answersFormCircular" method="post" action="/Question/SaveAnswerAndUserInput">
                    <button type="button" class="submit-button" id="submitButtonCircular">Klaar</button>
                    <input type="hidden" name="currentFlow" value="@Model.FlowId"/>
                    <input type="hidden" name="currentQuestion" value="@Model.QuestionId"/>
                    <input type="hidden" name="subThemeId" value="@Model.Flow.SubThemeId"/>
                </form>
            }
            <div class="container">
                <!-- Progress Bar -->
                <div class="progress">
                    <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>

        <div>
            @if (Model.Flow.FlowType == FlowType.Circular)
            {
                <script src="~/dist/circularFlow.entry.js"></script>
                <style>
        .submit-button {
            display: none;
        }
    </style>

                <div>
                    <p>Timer: </p>
                    <p id="circular-timer"></p>
                </div>
                <div>
                    <a class="nav-link text-dark" asp-area="" asp-controller="CircularFlow" asp-action="EndFlow" asp-route-flowId="@Model.Flow.FlowId">STOP</a>
                </div>
            }

        </div>


    </div>
</div>

@section Scripts
{
    <script src="~/dist/questionHandling.entry.js"></script>
    <script src="~/dist/phygitalAnswerButton.entry.js"></script>
}