@model PhygitalTool.Domain.Projects.SubTheme

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body class="animated-background">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="text-center mt-4">
                @foreach (var manager in Model.MainTheme.Project.BackOffice.Managers)
                {
                    if (manager.UserName == User.Identity?.Name)
                    {
                        <img src="@manager.ImageUrl" alt="Profile Picture" class="rounded-circle img-fluid">
                        <h5>@manager.UserName</h5>
                        <p>mycompany</p>
                    }
                }
            </div>
            <div class="nav flex-column">
                <a class="nav-link active" asp-area="" asp-controller="FlowCreation"
                   asp-action="index" asp-route-subThemeId="@Model.SubThemeId">
                    Flows <span class="badge badge-primary ">@Model.Flows.Count</span>
                </a>
                <a class="nav-link" asp-area="" asp-controller="BackOffice"
                   asp-action="index">
                    Projecten
                </a>
                <a class="nav-link" asp-area="" asp-controller="Themes"
                   asp-action="index"
                   asp-route-themeId="@Model.MainThemeId">
                    Terug
                </a>
            </div>
        </div>
        <!-- Flows-->
        <div class="col-md-9 main-container" id="flow-container">
            <h2 class="mt-4">Flows</h2>
            <div class="row">

                @foreach (var flow in Model.Flows)
                {
                    <div class="col-md-4 m-2">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">@flow.FlowName</h5>
                                </div>
                                <p class="card-text">@flow.FlowDescription</p>
                                <div>
                                    <button class="btn btn-outline-secondary edit-flow-button" data-flow-id="@flow.FlowId" title="Edit Flow">
                                        <i class="bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmation-modal" data-flow-id="@flow.FlowId" title="Delete Flow">
                                        <i class="bi-trash"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div> <!-- Einde van de col-md-9 -->
    </div> <!-- Einde van de row -->
</div> <!-- Einde van de container-fluid -->

<div class="modal fade" id="confirmation-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Wil je zeker verwijderen?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ben je zeker dat je dit wilt verwijderen?
            </div>
            <div class="modal-footer">
                <form id="delete-form" action="" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nee</button>
                    <button id="delete-confirm" type="submit" class="btn btn-danger">Ja</button>
                </form>
            </div>
        </div>
    </div>
</div>

<button type="button" id="add-flow-button" class="rounded-add-button">+</button>

@section Scripts {
    <script id="flow-page-script" src="~/dist/flow_page.entry.js" data-subthemeId="@Model.SubThemeId" defer="defer"></script>
}

</body>