@model PhygitalTool.Domain.Platform.BackOffice

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 bg-light min-vh-100">
            <!-- User Info -->
            <div class="text-center mt-4">
                @foreach (var manager in Model.Managers)
                {
                    if (manager.UserName == User.Identity?.Name)
                    {
                        <img src="@manager.ImageUrl" alt="Profile Picture" class="rounded-circle img-fluid">
                        <h5>@manager.UserName</h5>
                        <p>mycompany</p>
                    }
                }
            </div>

            <div class="nav flex-column">
                <a href="#" class="nav-link active">Projecten <span class="badge badge-primary">@Model.Projects.Count</span></a>
                <a href="#" class="nav-link">Flows <span class="badge badge-primary"></span></a>
                <a href="#" class="nav-link">Instellingen</a>
                <a href="#" class="nav-link">Logout</a>
            </div>
        </div>

        <!-- Projects -->
        <div class="col-md-9" id="projects-container">
            <h2 class="mt-4">Projecten</h2>
            <div class="d-flex justify-content-start">
                @foreach (var project in Model.Projects)
                {
                    <div class="p-2">
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="Projects" asp-action="Index" asp-route-projectId="@project.ProjectId">@project.ProjectName</a>
                    </div>
                }
            </div>
        </div>

        <button type="button" class="btn btn-primary" id="add-project-button">+</button>

    </div>
    @section Scripts {
        <script id="project-script" src="~/dist/projectCreation.entry.js" defer="defer" data-backoffice-id="@Model.BackOfficeId"></script>
    }
</div>
