@model PhygitalTool.Domain.Projects.MainTheme

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<body class="animated-background">
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3 sidebar">

            <div class="text-center mt-4">
                @foreach (var manager in Model.Project.BackOffice.Managers)
                {
                    if (manager.UserName == User.Identity?.Name)
                    {
                        <img src="@manager.ImageUrl" alt="Profile Picture" class="rounded-circle img-fluid">
                        <h5>@manager.UserName</h5>
                        <p>mycompany</p>
                    }
                }
            </div>
            <div class="nav flex-column">
                <a class="nav-link active" asp-area="" asp-controller="Themes"
                   asp-action="index" asp-route-themeId="@Model.ThemeId">
                    SubThema's <span class="badge badge-primary ">@Model.SubThemes.Count</span>
                </a>
                <a class="nav-link" asp-area="" asp-controller="BackOffice"
                   asp-action="index">
                    Projecten
                </a>
                <a class="nav-link" asp-area="" asp-controller="Projects"
                   asp-action="index"
                   asp-route-projectId="@Model.ProjectId">
                    Terug
                </a>
            </div>
        </div>

        <!-- Projects -->
        <div class="col-md-9 main-container" id="subthemes-container">
            <h2 class="mt-4">SubThema's</h2>
            <div class="row">
                @foreach (var subTheme in Model.SubThemes)
                {
                    <div class="col-md-4 m-2">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">@subTheme.SubThemeName</h5>
                                </div>
                                <p class="card-text">@subTheme.SubThemeInformation</p>
                                <div>
                                    <button class="btn btn-outline-secondary edit-subtheme-button" data-subtheme-id="@subTheme.SubThemeId" title="Edit Project">
                                        <i class="bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmation-modal" data-subtheme-id="@subTheme.SubThemeId" title="Delete Project">
                                        <i class="bi-trash"></i>
                                    </button>
                                </div>
                                <div class="d-flex align-items-center pt-3">
                                    <a class="btn btn-primary me-2 full-width-btn" asp-area="" asp-controller="FlowCreation" asp-action="Index" asp-route-subThemeId="@subTheme.SubThemeId">Bekijk Flows</a>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="modal fade" id="confirmation-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-label">Wil je zeker verwijderen?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Ben je zeker dat je dit wilt verwijderen?
                    </div>
                    <div class="modal-footer">
                        <form id="delete-form" action="" method="post">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nee</button>
                            <button id="delete-confirm" type="submit" class="btn btn-danger">ja</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <button type="button"  id="add-subtheme-button" class="rounded-add-button">+</button>


    </div>

    @section Scripts {
        <script id="sub-theme-page-script" src="~/dist/sub_theme_page.entry.js" defer="defer" data-maintheme-id="@Model.ThemeId"></script>
    }

</div>
</body>