@model PhygitalTool.Domain.Projects.Project

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<body class="animated-background">
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3 sidebar">

            <div class="text-center mt-4">
                @foreach (var manager in Model.BackOffice.Managers)
                {
                    if (manager.UserName == User.Identity?.Name)
                    {
                        <img src="@manager.ImageUrl" alt="Profile Picture" class="rounded-circle img-fluid">
                        <h5>@manager.UserName</h5>
                        <p>mycompany</p>
                    }
                }
            </div>
            <div class="nav flex-column">
                <a class="nav-link active" asp-area="" asp-controller="Projects"
                   asp-action="index" asp-route-projectId="@Model.ProjectId">
                    Thema's <span class="badge badge-primary ">@Model.MainThemes.Count</span>
                </a>
                <a class="nav-link" asp-area="" asp-controller="BackOffice"
                   asp-action="index">
                    Terug
                </a>
            </div>
        </div>

        <div class="col-md-9 main-container" id="themes-container">
            <h2 class="mt-4">Thema's</h2>
            <div class="row">
                @foreach (var theme in Model.MainThemes)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title" id="theme-name">@theme.ThemeName</h5>
                                    <div>
                                        <button class="btn btn-outline-secondary edit-theme-button" data-theme-id="@theme.ThemeId" title="Edit theme">
                                            <i class="bi-pencil"></i>
                                        </button>
                                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-theme-id="@theme.ThemeId" title="Delete theme">
                                            <i class="bi-trash"></i>
                                        </button>

                                    </div>
                                </div>
                                <p class="card-text" id="theme-information">@theme.MainThemeInformation</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <a class="btn btn-primary me-2" asp-area="" asp-controller="Themes" asp-action="Index" asp-route-themeid="@theme.ThemeId">Bekijk Subthema's</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Wil je zeker verwijderen?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       Ben je zeker dat je dit wilt verwijderen?
                    </div>
                    <div class="modal-footer">
                        <form id="deleteForm" action="" method="post">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nee</button>
                            <button id="theme-delete-confirm" type="submit" class="btn btn-danger">Ja</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <button type="button" style="position: fixed; bottom: 20px; right: 20px; background-color: purple; color: white; border-radius: 50%; width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border: none;" id="add-theme-button">+</button>


    </div>

    @section Scripts {
        <script id="mainThemePage-script" src="~/dist/mainThemePage.entry.js" defer="defer" data-project-id="@Model.ProjectId"></script>
    }

</div>
</body>