
@using PhygitalTool.Domain.Util
@using Microsoft.IdentityModel.Tokens
@model PhygitalTool.Domain.Projects.MainTheme

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kies een thema:</h2>

@foreach (var subtheme in Model.SubThemes)
{
    <h3>@subtheme.SubThemeName :</h3>
    foreach (var flow in subtheme.Flows)
    {
        if (!flow.Questions.IsNullOrEmpty())
        {
            if (flow.FlowType == FlowType.Linear)
            {
                <a class="btn btn-outline-secondary btn-block" asp-area=""
                   asp-controller="LinearFlow"
                   asp-action="StartFLow"
                   asp-route-flowId="@flow.FlowId"> @subtheme.SubThemeName (linear)
                </a>
            }
        
            if (flow.FlowType == FlowType.Circular)
            {
                <a class="btn btn-outline-secondary btn-block" asp-area=""
                   asp-controller="CircularFlow"
                   asp-action="StartFLow"
                   asp-route-flowId="@flow.FlowId"> @subtheme.SubThemeName (circulair)
                </a>
            }
        }

    }
}
