@using PhygitalTool.Domain.Util
@model PhygitalTool.Domain.FlowPackage.Flow

<h2>@Model.SubTheme.SubThemeName</h2>

<p>@Model.SubTheme.SubThemeInformation</p>


<a class="nav-link text-dark" id="submitButton"
   asp-area=""
   asp-controller="CircularFlow"
   asp-action="GetNextQuestion"
   asp-route-flowId="@Model.FlowId"
   asp-route-questionId="@TempData["questionId"]"
   asp-route-subThemeId="@Model.SubTheme.SubThemeId">
</a>

@if (Model.FlowType == FlowType.Circular)
{
    <p id="circular-timer"></p>
    <a class="nav-link text-dark" asp-area="" asp-controller="CircularFlow" asp-action="EndFlow" asp-route-flowId="@Model.FlowId">STOP</a>
}


@{
    var scheme = Context.Request.Scheme;
    var host = Context.Request.Host.ToString(); 
    var actionPath = Url.Action("Index", "ContactInformation", new { id = Model.FlowId});

    var fullUrl = $"{scheme}://{host}{actionPath}";
}
<img src="@Url.Action("Generate", "QrCode", new { data = fullUrl, width = 500, height = 500 })" alt="QR Code" style="width:500px; height:500px;" />


@section Scripts {
    <script id="questionPage-script" src="~/dist/questionsPage.entry.js" data-flowtype="@Model.FlowType.ToString().ToLower()" defer="defer" ></script>
}