@using PhygitalTool.Domain.Util
@using Microsoft.Extensions.Localization
@using PhygitalTool.Web.Resources
@model PhygitalTool.Domain.FlowPackage.Flow
@inject IStringLocalizer<ResourcesFlow> Localizer

@{
    var culture = Model.Language switch
    {
        Language.Dutch => "nl",
        Language.French => "fr",
        Language.German => "de",
        _ => "en"
        };
    System.Globalization.CultureInfo.CurrentCulture = new System.Globalization.CultureInfo(culture);
    System.Globalization.CultureInfo.CurrentUICulture = new System.Globalization.CultureInfo(culture);
}

<div class="container-information-view">
<div class="row">
    <div class="sidebar-container col-md-2 p-4">
        
        <img src="https://via.placeholder.com/150" alt="Placeholder afbeelding" class="qr-code">
        <h3 class="pt-3">@Localizer[ResourcesFlow.InterestHeading]</h3>
        <p>@Localizer[ResourcesFlow.IntrestDescription]</p>
        @{
            var scheme = Context.Request.Scheme;
            var host = Context.Request.Host.ToString();
            var actionPath = Url.Action("Index", "ContactInformation", new { id = Model.FlowId });

            var fullUrl = $"{scheme}://{host}{actionPath}";
        }

        <img class="qr-code pt-3" src="@Url.Action("Generate", "QrCode", new { data = fullUrl })" alt="QR Code" style="width:500px; height:500px;"/>
    </div>
    <div class="informationContainer col-md-10 p-5">


        <h2>@Model.SubTheme.SubThemeName</h2>

        <p>@Model.SubTheme.SubThemeInformation</p>


        @if (Model.FlowType == FlowType.Linear)
        {
            <a class="btn btn-primary submit-button mt-3" asp-area="" asp-controller="LinearFlow"
               asp-action="GetFirstQuestion" asp-route-flowId="@Model.FlowId">
                Start
            </a>
        }
        @if (Model.FlowType == FlowType.Circular)
        {
            <a class="nav-link text-dark" id="submitButton" asp-area="" asp-controller="CircularFlow"
               asp-action="GetFirstQuestion"
               asp-route-flowId="@Model.FlowId"
               asp-route-subThemeId="@Model.SubTheme.SubThemeId">
            </a>
        }

        @if (Model.FlowType == FlowType.Circular)
        {
            <p id="circular-timer"></p>
            <a class="nav-link text-dark" asp-area="" asp-controller="CircularFlow" asp-action="EndFlow" asp-route-flowId="@Model.FlowId">STOP</a>
        }
    </div>
</div>
</div>

@section Scripts {
    <script id="questionPage-script" src="~/dist/questionsPage.entry.js" data-flowtype="@Model.FlowType.ToString().ToLower()" defer="defer" ></script>
}