@using System.Security.Claims
@model  IEnumerable<PhygitalTool.Domain.FlowPackage.Idea>
@{
    ViewBag.Title = "UserPlatform";
    Layout = "_Layout";
}
<body class="background-contract-form">
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Terug naar hoofdpagina</a>
</div>
<h1 class="center">ideeën</h1>


@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    <div>
        <h2>Maak een nieuw Idee aan</h2>
        <form id="createIdeaForm">
            <input class="form-control" type="text" id="newIdeaTitle" placeholder="Titel" required>
            <input class="form-control" type="text" id="newIdeaDescription" placeholder="Bericht" required>
            <button class=" btn btn-primary mt-3" type="submit" id="addIdeaButton">Toevoegen</button>
        </form>
    </div>
}

@foreach (var idea in Model)
{
    <div class="idea_card mt-3">
        <div class="row">
            <div class="first_letter_name col-md-4">
                <p>@char.ToUpper(idea.User.UserName[0])</p>
            </div>
            <div class="col-md-8">
                <h4>@idea.Title</h4>
            </div>
        </div>
        <p class="username">@idea.User.UserName</p>
        <p>@idea.Description</p>
        <p class="form-label like-section">
            Likes:
            <span id="likesCount-@idea.IdeaId">@idea.Likes</span>
            <i class="bi bi-hand-thumbs-up likeButton pointer" data-ideaId="@idea.IdeaId"></i>
        </p>
        <div class="comments-container-@idea.IdeaId p-3">
            @foreach (var comment in idea.Comments)
            {
                <p class="form-label">@comment.Description</p>
                <p>@comment.User</p>
            }
            @if (User.IsInRole("User"))
            {
                <button class="commentButton btn btn-primary" data-ideaId="@idea.IdeaId">Comment</button>
                <div id="commentForm-@idea.IdeaId" style="display:none;">
                    <input class="mt-3 form-control" type="text" id="commentText-@idea.IdeaId" placeholder="Geef uw reactie in" required>
                    <button class="btn btn-primary mt-3 addCommentButton" data-ideaId="@idea.IdeaId">Verzend</button>
                </div>
            }
            else
            {
                <div class="InlogMessage">
                    <p>Je moet ingelogd zijn als user om een comment achter te laten</p>
                </div>
            }

        </div>
    </div>
}

</body>

@section Scripts {
    <script id="UserPlatform-script" src="~/dist/user_platform.entry.js" defer="defer" data-user-id="@User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value" data-is-authenticated="@(User.Identity?.IsAuthenticated.ToString().ToLower())"></script>
}