@using System.Security.Claims

@model  IEnumerable<PhygitalTool.Domain.FlowPackage.Idea>
@{
    ViewBag.Title = "UserPlatform";
    Layout = "_Layout";
}

<h1 >User Ideas</h1>
@foreach (var idea in Model)
{
    <div >
        <h8>@idea.Title</h8>
        <p>@idea.Description</p>
        <p>Posted by: @idea.User.UserName</p>
        <p>Likes: <span id="likesCount-@idea.IdeaId">@idea.Likes</span></p>
        <button class="likeButton" data-ideaId="@idea.IdeaId">Like</button>

        <div class="comment-section">
            @foreach (var comment in idea.Comments)
            {
                <p>@comment.Description</p>
                <p> by : @comment.User</p>
            }
        </div>

        <button class="commentButton" data-ideaId="@idea.IdeaId">Comment</button>
        <div id="commentForm-@idea.IdeaId" style="display:none;">
            <input type="text" id="commentText-@idea.IdeaId" placeholder="Enter your comment" />
            <button class="addCommentButton" data-ideaId="@idea.IdeaId">Add Comment</button>
        </div>
    </div>
}

@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    <div class="idea-card">
        <h2>Create New Idea</h2>
        <form id="createIdeaForm">
            <input type="text" id="newIdeaTitle" placeholder="Title" />
            <input type="text" id="newIdeaDescription" placeholder="Description" />
            <button type="button" id="addIdeaButton">Add Idea</button>
        </form>
    </div>
}

@section Scripts {
    <script id="Form-script" src="~/dist/Userform.entry.js" defer="defer" data-User-id="@User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value" data-is-authenticated="@(User.Identity.IsAuthenticated.ToString().ToLower())"></script>
}