@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model  IEnumerable<PhygitalTool.Domain.FlowPackage.Idea>
@{
    ViewBag.Title = "UserPlatform";
    Layout = "_Layout";
}
<h1>User Ideas</h1>
@foreach (var idea in Model)
{
    <div>
        <h8>@idea.Title</h8>
        <p>@idea.Description</p>
        <p>@idea.User.UserName</p>
        <p>Likes: <span id="likesCount-@idea.IdeaId">@idea.Likes</span></p>
        <button class="likeButton" data-ideaId="@idea.IdeaId">Like</button>
        <div>
            @foreach (var comment in idea.Comments)
            {
                <p>@comment.Description</p>
                <p>@comment.User</p>
            }
        </div>
    </div>
    <div>
        <button class="commentButton" data-ideaId="@idea.IdeaId">Comment</button>
        <div id="commentForm-@idea.IdeaId" style="display:none;">
            <input type="text" id="commentText-@idea.IdeaId" placeholder="Enter your comment"/>
            <button class="addCommentButton" data-ideaId="@idea.IdeaId">Add Comment</button>
        </div>
    </div>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    <div>
        <h2>Create New Idea</h2>
        <form id="createIdeaForm">
            <input type="text" id="newIdeaTitle" placeholder="Title"/>
            <input type="text" id="newIdeaDescription" placeholder="Description"/>
            <button type="button" id="addIdeaButton">Add Idea</button>
        </form>
    </div>
}

@section Scripts {
    <script id="UserPlatform-script" src="~/dist/UserPlatform.entry.js" defer="defer" data-user-id="@User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value" data-is-authenticated="@(User.Identity.IsAuthenticated.ToString().ToLower())"></script>
}